DEPLOYMENT_NETWORK=

TARGET_CHAIN_1=
TARGET_CHAIN_2=

PROXY_ADMIN_ADDR_GOERLI=
PROXY_ADMIN_ADDR_FUJI=
PROXY_ADMIN_ADDR_MUMBAI=

LZ_ENDPOINT_GOERLI=
LZ_ENDPOINT_FUJI=
LZ_ENDPOINT_MUMBAI=

CHAIN_ID_GOERLI=
CHAIN_ID_FUJI=
CHAIN_ID_MUMBAI=
