DEPLOYMENT_NETWORK=

TARGET_CHAIN_1=
TARGET_CHAIN_2=

PROXY_ADMIN_ADDR_GOERLI=
PROXY_ADMIN_ADDR_FUJI=
PROXY_ADMIN_ADDR_MUMBAI=

CHAIN_ID_GOERLI=
CHAIN_ID_FUJI=
CHAIN_ID_MUMBAI=

# Layerzero

LZ_ENDPOINT_GOERLI=
LZ_ENDPOINT_FUJI=
LZ_ENDPOINT_MUMBAI=

# Hyperlane

MINT_COST_GOERLI=
MINT_COST_FUJI=
MINT_COST_MUMBAI=

MAILBOX_ENDPOINT_GOERLI=
MAILBOX_ENDPOINT_FUJI=
MAILBOX_ENDPOINT_MUMBAI=